{:paths ["src" "resources"]
 :aliases {:dev {:extra-paths ["dev/src" "test" "dev/resources"]
                 :extra-deps {fipp/fipp {:mvn/version "0.6.23"}
                              expound/expound {:mvn/version "0.8.7"}
                              orchestra/orchestra {:mvn/version "2020.09.18-1"}
                              com.gfredericks/test.chuck {:mvn/version "0.2.10"}
                              org.clojure/tools.gitlibs {:mvn/version "1.0.100"}
                              tubular/tubular {:mvn/version "1.4.0"}
                              lambdaisland/kaocha {:mvn/version "1.0.732"}}}

           :send-mail {:exec-fn items2.core/send-mail}

           :test {:extra-paths ["test"]
                  :extra-deps {fipp/fipp {:mvn/version "0.6.23"}
                               expound/expound {:mvn/version "0.8.7"}
                               orchestra/orchestra {:mvn/version "2020.09.18-1"}
                               com.gfredericks/test.chuck {:mvn/version "0.2.10"}
                               lambdaisland/kaocha {:mvn/version "1.0.732"}}}}

 :deps {org.clojure/test.check {:mvn/version "1.1.0"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        juxt/clip {:mvn/version "0.21.0"}
        aero/aero {:mvn/version "1.1.6"}
        caesarhu/aave {:git/url "https://github.com/caesarhu/aave.git"
                       :sha "7c594ea03bcbd3b9653f5b8c382990ed062c1338"}
        caesarhu/hodur-translate {:git/url "https://github.com/caesarhu/hodur-translate"
                                  :sha "1c60441555c40969d97648f7e9dbeff7604c0eee"}
        seancorfield/next.jdbc {:mvn/version "1.1.613"}
        org.postgresql/postgresql {:mvn/version "42.2.18"}
        hikari-cp/hikari-cp {:mvn/version "2.13.0"}
        com.taoensso/timbre {:mvn/version "5.1.0"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.20"}
        metosin/malli {:mvn/version "0.2.1"}
        metosin/jsonista {:mvn/version "0.3.0"}
        clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
        com.rpl/specter {:mvn/version "1.1.3"}
        exoscale/ex {:mvn/version "0.3.16"}
        funcool/datoteka {:mvn/version "1.2.0"}
        borkdude/sci {:mvn/version "0.2.0"}
        medley/medley {:mvn/version "1.3.0"}
        cjsauer/disqualified {:mvn/version "0.1.0"}
        functionalbytes/redelay {:mvn/version "1.1.0"}
        nrepl/nrepl {:mvn/version "0.8.3"}
        clj-bom/clj-bom {:mvn/version "0.1.2"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        com.draines/postal {:mvn/version "2.0.4"}
        org.clojure/tools.namespace {:mvn/version "1.1.0"}
        migratus/migratus {:mvn/version "1.3.3"}}}