[^{:lacinia/tag true
   :postgres/tag true
   :spec/tag true
   :translate/tag true}
 default

 ^{:translate/chinese "危安物品檔"
   :postgres.table/index [[:idx-items-by-unit :items :unit :subunit :police :check-time]
                          [:idx-items-by-file-time :items :file-time]]}
 items
 [^{:type Integer
    :postgres.column/identity-always true
    :postgres.column/primary-key true
    :spec/override clojure.core/pos-int?
    :translate/chinese "危安物品id"} id
  ^{:type String
    :postgres.column/unique true
    :translate/chinese "原始檔案"} file
  ^{:type DateTime
    :translate/chinese "原始檔案時間"} file-time
  ^{:type String
    :translate/chinese "攜帶方式"} carry
  ^{:type DateTime
    :translate/chinese "查獲時間"} check-time
  ^{:type String
    :optional true
    :translate/chinese "班次"} flight
  ^{:type String
    :translate/chinese "單位"} unit
  ^{:type String
    :optional true
    :translate/chinese "子單位"} subunit
  ^{:type String
    :translate/chinese "員警姓名"} police
  ^{:type String
    :translate/chinese "處理情形"} process
  ^{:type String
    :translate/chinese "查獲人簽章"} check-sign
  ^{:type String
    :optional true
    :translate/chinese "旅客簽章"} passenger-sign
  ^{:type String
    :optional true
    :translate/chinese "航空貨運業者簽章"} trader-sign
  ^{:type String
    :optional true
    :translate/chinese "輸入設備-ip"} ip
  ^{:type String
    :optional true
    :translate/chinese "所有備註"} memo
  ^{:type String
    :optional true
    :translate/chinese "旅客證號"} passenger-id
  ^{:type String
    :optional true
    :translate/chinese "查獲位置"} check-line]

 ^{:translate/chinese "所有項目檔"
   :postgres.table/index [:idx-all-list-by-items-id :all-list :items-id]}
 all-list
 [^{:type Integer
    :postgres.column/identity-always true
    :postgres.column/primary-key true
    :spec/override clojure.core/pos-int?
    :translate/chinese "所有項目檔id"} id
  ^{:type items
    :spec/override clojure.core/pos-int?
    :postgres.column/on-update :cascade
    :postgres.column/on-delete :cascade
    :translate/chinese "items-id參考"} items-id
  ^{:type String
    :translate/chinese "項目"} item
  ^{:type Integer
    :translate/chinese "數量"} quantity]

 ^{:translate/chinese "項目清單檔"
   :postgres.table/index [:idx-item-list-by-items-id :item-list :items-id]}
 item-list
 [^{:type Integer
    :postgres.column/identity-always true
    :postgres.column/primary-key true
    :spec/override clojure.core/pos-int?
    :translate/chinese "項目清單檔id"} id
  ^{:type items
    :spec/override clojure.core/pos-int?
    :postgres.column/on-update :cascade
    :postgres.column/on-delete :cascade
    :translate/chinese "items-id參考"} items-id
  ^{:type String
    :translate/chinese "種類"} kind
  ^{:type String
    :optional true
    :translate/chinese "類別"} subkind
  ^{:type String
    :optional true
    :translate/chinese "物品"} object]

 ^{:translate/chinese "項目人數檔"
   :postgres.table/index [:idx-item-people-by-items-id :item-people :items-id]}
 item-people
 [^{:type Integer
    :postgres.column/identity-always true
    :postgres.column/primary-key true
    :spec/override clojure.core/pos-int?
    :translate/chinese "項目人數檔id"} id
  ^{:type items
    :spec/override clojure.core/pos-int?
    :postgres.column/on-update :cascade
    :postgres.column/on-delete :cascade
    :translate/chinese "items-id參考"} items-id
  ^{:type String
    :translate/chinese "種類"} kind
  ^{:type Integer
    :translate/chinese "件數"} piece
  ^{:type Integer
    :optional true
    :translate/chinese "人數"} people]

 ^{:translate/chinese "單位檔"}
 units
 [^{:type Integer
    :postgres.column/identity-always true
    :postgres.column/primary-key true
    :spec/override clojure.core/pos-int?
    :translate/chinese "單位檔id"} id
  ^{:type String
    :translate/chinese "單位"} unit
  ^{:type String
    :optional true
    :translate/chinese "子單位"} subunit]

 ^{:translate/chinese "ipad檔"}
 ipad
 [^{:type Integer
    :postgres.column/identity-always true
    :postgres.column/primary-key true
    :spec/override clojure.core/pos-int?
    :translate/chinese "ipad檔id"} id
  ^{:type String
    :translate/chinese "單位"} unit
  ^{:type String
    :optional true
    :translate/chinese "子單位"} subunit
  ^{:type String
    :translate/chinese "載具名稱"} ipad-name
  ^{:type String
    :translate/chinese "載具ip"} ip]

 ^{:translate/chinese "檔案最後時間檔"}
 last-time
 [^{:type Integer
    :postgres.column/identity-always true
    :postgres.column/primary-key true
    :spec/override clojure.core/pos-int?
    :translate/chinese "檔案最後時間檔id"} id
  ^{:type DateTime
    :translate/chinese "最後時間"} file-time
  ^{:type Integer
    :translate/chinese "全部處理紀錄"} total
  ^{:type Integer
    :translate/chinese "處理成功紀錄"} success
  ^{:type Integer
    :translate/chinese "處理失敗紀錄"} fail]

 ^{:translate/chinese "郵件列表檔"}
 mail-list
 [^{:type Integer
    :postgres.column/identity-always true
    :postgres.column/primary-key true
    :spec/override clojure.core/pos-int?
    :translate/chinese "郵件列表id"} id
  ^{:type String
    :translate/chinese "單位"} unit
  ^{:type String
    :optional true
    :translate/chinese "子單位"} subunit
  ^{:type String
    :optional true
    :translate/chinese "職稱"} position
  ^{:type String
    :optional true
    :translate/chinese "姓名"} name
  ^{:type String
    :translate/chinese "電子郵件"} email
  ^{:type String
    :optional true
    :translate/chinese "備註"} memo]]
