{:jdbc-url "jdbc:postgresql://localhost:35432/items2?user=shun&password=smilehu"
 :connection-uri #profile {:default #env JDBC_DATABASE_URL
                           :dev #or [#env JDBC_DATABASE_URL
                                     #ref [:jdbc-url]]}
 :schema-path "schema.edn"
 :migration-dir "migrations"

 :migratus {:store :database
            :migration-dir #ref [:migration-dir]
            :db {:connection-uri #ref [:connection-uri]}}

 :hikari-cp {:jdbc-url #ref [:connection-uri]}

 :json-transform {:旅客護照號碼/身分證號 :旅客證號
                  :IpAddress :輸入設備-ip
                  :危安物品檔/所有項目數量 :all-list
                  :危安物品檔/項目人數 :item-people
                  :危安物品檔/項目清單 :item-list}

 :json-file-path
 #profile {:dev "~/sftp/upload/"
           :default "/home/item/upload/"}

 :bug-unit {"臺中局" "臺中所"
            "花蓮局" "花蓮所"}

 :appender-opts
 #profile {:dev {:path "logs/dev.log"
                 :max-size 60
                 :pattern :daily}
           :default {:path "logs/items2.log"
                     :max-size 60
                     :pattern :daily}}

 :items-child [:all-list :item-list :item-people]

 :components
 {:timbre
  {:start (items2.config/set-timbre-config!
            {:min-level :info
             :timestamp-opts {:timezone (items2.config/taipei-zone)}
             :appenders {:println {:min-level :info}
                         :rolling (items2.config/rolling-appender #ref [:appender-opts])}})}
  :migratus
  {:start (migratus.core/migrate #ref [:migratus])}

  :system
  {:stop (redelay.core/stop)}}}
