{:system-profile :dev
 :jdbc-url
 #profile {:default "jdbc:postgresql://localhost:35432/items2?user=shun&password=smilehu"
           :dev "jdbc:postgresql://localhost:35432/items2?user=shun&password=smilehu"
           :test "jdbc:postgresql://localhost:45432/items2_test?user=shun&password=smilehu"}

 :connection-uri #profile {:default #or [#env JDBC_DATABASE_URL
                                         #ref [:jdbc-url]]
                           :dev #or [#env JDBC_DATABASE_URL
                                     #ref [:jdbc-url]]
                           :test #or [#env JDBC_DATABASE_URL
                                      #ref [:jdbc-url]]}
 :schema-path "schema.edn"
 :migration-dir "migrations"

 :migratus {:store :database
            :migration-dir #ref [:migration-dir]
            :db {:connection-uri #ref [:connection-uri]}}

 :hikari-cp {:jdbc-url #ref [:connection-uri]}

 :json-transform {:旅客護照號碼/身分證號 :旅客證號
                  :IpAddress :輸入設備-ip
                  :危安物品檔/所有項目數量 :all-list
                  :危安物品檔/項目人數 :item-people
                  :危安物品檔/項目清單 :item-list}

 :json-file-path
 #profile {:dev "~/sftp/upload/"
           :test "~/sftp/upload/"
           :default "/home/item/upload/"}

 :csv-path "./csv/"

 :report
 {:detail {:fields [:items/unit :items/subunit :items/police :items/check-line :items/check-time
                    :items/file-time :items/flight :items/carry :items/process :items/passenger-id
                    :項目清單 :件數人數 :所有項目數量 :items/memo :items/file :items/check-sign
                    :items/passenger-sign :items/trader-sign :items/ip]
           :name "明細"}
  :stats {:fields [:開始日期 :結束日期 :items/unit :items/subunit :items/police
                   :item-list/kind :item-list/subkind :合計]
          :name "統計"}}

 :bug-unit {"臺中局" "臺中所"
            "花蓮局" "花蓮所"}

 :appender-opts
 #profile {:dev {:path "logs/dev.log"
                 :max-size 60
                 :pattern :daily}
           :test {:path "logs/test.log"
                  :max-size 60
                  :pattern :daily}
           :default {:path "logs/items2.log"
                     :max-size 60
                     :pattern :daily}}

 :items-child [:all-list :item-list :item-people]

 :mail-server {:host #or [#env MAIL_HOST "mail.apb.gov.tw"]
               :port #long #or [#env MAIL_PORT 25]
               :timeout "5000"
               :connectiontimeout "5000"}

 :components
 {:timbre
  {:start (items2.config/set-timbre-config!
            {:min-level :info
             :timestamp-opts {:timezone (items2.config/taipei-zone)}
             :appenders {:println {:min-level :info}
                         :rolling (items2.config/rolling-appender #ref [:appender-opts])}})}
  :migratus
  {:start (migratus.core/migrate #ref [:migratus])}

  :system
  {:stop (redelay.core/stop)}}}
